<launch>
    <arg name="launch_vision" default="true"/>
    <include file="$(find balance_board)/launch/ros_control_interface.launch">
    </include>
    <node name="pd_controller" pkg="balance_board" type="pd_controller"/>
    <node if="$(arg launch_vision)" name="vision" pkg="balance_board" type="vision"/>
</launch>