<launch>
    <include file="$(find panda_moveit_config)/launch/panda_control_moveit_rviz.launch">
        <arg name="launch_franka_control" default="false"/>
    </include>


    <!-- <node name="joint_controller_interface" pkg="balance_board" type="joint_controller_interface">
        <rosparam command="load" file="$(find balance_board)/config/interface_params.yaml"/>
    </node> -->

    <node name="test_controller" pkg="balance_board" type="test_controller">
        <rosparam command="load" file="$(find balance_board)/config/dtc_params.yaml"/>
    </node>

</launch>